.DS_Store
node_modules
claude-*
rag-pipeline/chunks.jsonl
__pycache__
.pytest_cache

# Config
.env

# Personal notes
notes/

# Web Scraper Debugging files
backup*
*.xlsx
web-scraper/crawled-pages.csv
web-scraper/SOURCES_FRAMEWORK.yaml
