# Note - see also .gitignore files in subdirectories

# Misc.
.DS_Store

# Node.js dependencies
node_modules

# Python caches
__pycache__
.pytest_cache

# Notes
claude-*
.claude/projects/
notes/

# Data and Debugging
backup*
*.xlsx
web-scraper/crawled-pages.csv
web-scraper/SOURCES_FRAMEWORK.yaml
rag-pipeline/*.jsonl

# Config
.env
