# Note - see also .gitignore files in subdirectories

# Misc.
.DS_Store

# Node.js dependencies
node_modules

# Python caches
__pycache__
.pytest_cache

# Notes
claude-*
.claude/projects/
notes/

# Data and Debugging
backup*
*.xlsx
web-scraper/*.csv
web-scraper/SOURCES_FRAMEWORK.yaml
rag-pipeline/*.jsonl

# Config
.env*
!.env.sample

# Provider specific model names vary - easier to spell out
!.env.provider.aws
!.env.provider.anthropic
!.env.provider.vercel
!.env.provider.ollama

# Service specific samples
!*.env.*.sample

# local dev server
temporal_server.db

# Not working in Zed IDE anyway
.devcontainer/
